.article-detail {
  padding-bottom: 200px;
  h1.page-title {
    font-size: 32px;
    padding-bottom: 28px;
    border-bottom: 1px solid #7AB6D9;
    margin-bottom: 16px;
    @media screen and (min-width: 769px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 50px;
    }
  }

  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 100%;
    
    .time,
    .info-item span {
      color: #7AB6D9;
      font-size: 14px;
    }

    .infos {
      display: flex;
      align-items: center;
      
      .info-item {
        display: flex;
        align-items: center;
        margin-left: 14px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
      }
    }
  }

  .md-area {
    p {
      font-size: 18px;
    }
  }

  .like-button {
    width: 78px;
    height: 78px;
    margin: 80px auto 63px;
    border: 1px solid #7AB6D9;
    border-radius: 50%;
    background-size: 47px 47px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image .3s;
    cursor: pointer;
  }

  .comment-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    border: 1px solid #7AB6D9;
    border-radius: 16px;
    background-color: #fff;

    .textarea-wrapper {
      position: relative;
      width: 100%;
      textarea {
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        color: #333;
        font-size: 18px;
        line-height: 26px;
        min-height: 500px;
        min-height: 54px;
      }
      .reply-tip {
        color: #333;
        font-size: 18px;
        position: absolute;
        top: 0px;
        left: 0px;
        user-select: none;
      }
    }


    .button-area {
      width: 100%;
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .alias label {
        color: #7AB6D9;
        input {
          border: 1px solid #7AB6D9;
          height: 30px;
          width: 144px;
          // background-color: #F0F0F0;
          border-radius: 16px;
          margin-left: 7px;
          outline: none;
          color: #333;
          box-sizing: border-box;
          padding: 0 16px;
        }
      }

      .commit,
      .cancel {
        color: #fff;
        text-align: center;
        line-height: 38px;
        font-size: 18px;
        margin-left: 29px;
        border-radius: 19px;
        cursor: pointer;
        transition: box-shadow .2s;
        &:hover {
          box-shadow: 3px 3px 10px #e3e3e3;
        }
      }

      .commit {
        width: 126px;
        height: 38px;
        background-color: #7AB6D9;
      }

      .cancel {
        width: 90px;
        height: 38px;
        background-color: #D97A7A;
      }
    }
  }

  .chat-wrapper {
    @media screen and (min-width: 769px) {
      margin-top: 70px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
    .main-chat {
      .main-name {
        display: flex;
        align-items: flex-end;
        height: 40px;
        .name {
          @media screen and (min-width: 769px) {
            font-size: 18px;
          }
          @media screen and (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }
    .time {
      color: #7AB6D9;
      margin-left: 12px;
      @media screen and (min-width: 769px) {
        font-size: 14px;
      }
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    .reply-btn {
      width: 24px;
      height: 24px;
      margin-left: 12px;
      cursor: pointer;
      transition: transform .3s;
      &:hover {
        transform: scale(1.2);
      }
    }
    .content {
      margin-top: 8px;
      line-height: 30px;
      @media screen and (min-width: 769px) {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    .reply {
      margin-top: 24px;
      @media screen and (min-width: 769px) {
        margin-left: 42px;
      }
      @media screen and (max-width: 768px) {
        margin-left: 21px;
      }
      .reply-name .name {
        @media screen and (min-width: 769px) {
          font-size: 18px;
        }
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
      .content {
        text-indent: 2em;
      }
    }
  }

  .comment-list {
    h2 {
      line-height: 41px;
      font-weight: normal;
      margin-bottom: 24px;
      @media screen and (min-width: 769px) {
        font-size: 24px;
      }
      @media screen and (max-width: 768px) {
        font-size: 20px;
        padding-top: 50px;
      }
    }
  }
}