.home {
  box-sizing: border-box;
  position: relative;
  min-height: 720px;
  padding-bottom: 100px;
  .main-info {
    width: 960px;
    padding-top: 30%;
    line-height: 80px;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(0deg, #00BE7A, #82F9A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    .slogen {
      display: flex;
      height: 80px;
      align-items: center;
      color: transparent;
      &::after {
        content: '';
        display: inline-block;
        width: 3px;
        height: 50px;
        background-color: #fff;
        margin-left: 14px;
        transform: translateY(2px);
      }
    }
  }
  
  .desc-info {
    width: 960px;
    margin-top: 96px;
    line-height: 46px;
    color: #ECF8FF;
    text-indent: 2em;
    font-size: 24px;

    .github {
      color: #BBC6CC;
      text-decoration: underline;
      margin: 0 5px;

      &:hover {
        color: #fff;
      }
    }
    
    .wx {
      color: #07C160;
      text-decoration: underline;
      margin: 0 5px;
      position: relative;
      display: inline-block;
      text-indent: 0;
      cursor: pointer;

      .wx-modal {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #000, $alpha: 0.8);
        font-size: 22px;
        padding: 5px 10px;
        box-shadow: 14px 11px 10px #141414a6;
        transform: translateY(-100%);
        border-radius: 6px;
      }
    }
  }

  .continue-button {
    margin: 120px auto 0;
    width: 174px;
    height: 53px;
    border: 1px solid #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;

    span {
      color: #fff;
    }

    .img {
      width: 23px;
      height: 21px;
      margin-left: 10px;
    }

    &:hover {
      color: #82F9A1;

      span {
        color: #82F9A1;
        transition: color .3s, border-color .3s;
      }
      
      border-color: #82F9A1;
      transition: color .3s, border-color .3s;

      .img {
        transition: background-image .3s;
      }
    }
  }
}
