.home {
  box-sizing: border-box;
  height: calc(100vh - 40px);
  position: relative;
  @media screen and (min-width: 769px) {
    padding-bottom: 100px;
    width: 960px;
    .main-info {
      line-height: 80px;
      font-size: 50px;
      top: 20%;
      .slogen {
        height: 80px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    .main-info {
      line-height: 40px;
      font-size: 36px;
      top: 20%;
      .slogen {
        line-height: 18px;
        align-items: flex-start !important;
        height: 200px;
        font-size: 18px;
        margin-top: 1.5rem;

        &::after {
          height: 18px !important;
          margin-left: 3px !important;
        }
      }
    }
  }
  .main-info {
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: #00BE7A;
    
    .slogen {
      display: flex;
      align-items: center;
      color: #00BE7A;
      &::after {
        content: '';
        display: inline-block;
        width: 3px;
        height: 50px;
        background-color: #fff;
        margin-left: 14px;
        transform: translateY(2px);
      }
    }
  }
  
  .desc-info {
    position: absolute;
    @media screen and (min-width: 769px) {
      width: 960px;
      font-size: 24px;
      line-height: 46px;
      top: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 16px;
      line-height: 32px;
      top: 40%;
    }
    left: 0;
    color: #ECF8FF;
    text-indent: 2em;

    .github {
      color: #BBC6CC;
      text-decoration: underline;
      margin: 0 5px;

      &:hover {
        color: #fff;
      }
    }
    
    .wx {
      color: #07C160;
      text-decoration: underline;
      margin: 0 5px;
      position: relative;
      display: inline-block;
      text-indent: 0;
      cursor: pointer;

      .wx-modal {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: 0.8);
        font-size: 22px;
        padding: 5px 10px;
        box-shadow: 14px 11px 10px #141414a6;
        transform: translateY(-100%);
        border-radius: 6px;
      }
    }
  }

  .continue-button {
    @media screen and (min-width: 769px) {
      bottom: 20%;
    }
    @media screen and (max-width: 768px) {
      bottom: 25%;
    }
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 174px;
    height: 53px;
    border: 1px solid #fff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;

    span {
      color: #fff;
    }

    .img {
      width: 23px;
      height: 21px;
      margin-left: 10px;
    }

    &:hover {
      color: #82F9A1;

      span {
        color: #82F9A1;
        transition: color .3s, border-color .3s;
      }
      
      border-color: #82F9A1;
      transition: color .3s, border-color .3s;

      .img {
        transition: background-image .3s;
      }
    }
  }
}