.article-editor {
    // box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 200px 0 0;
    padding-bottom: 200px;
    // margin-bottom: 200px;
    // background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;

    .text-area {
        width: 49%;
        height: 100%;

        textarea {
            box-sizing: border-box;
            background-color: #0028446e;
            width: 100%;
            height: 100%;
            padding: 30px;
            outline: none;
            border: none;
            border: 1px solid #2049688c;
            border-radius: 16px;
            resize: none;
            font-size: 16px;
            letter-spacing: 2px;
            line-height: 22px;
            color: #fff;
        }
    }

    .markdown-render {
        box-sizing: border-box;
        width: 49%;
        height: 100%;
        overflow-y: auto;
        padding: 30px;
        border-radius: 16px;
        background-color: #0028446e;
        letter-spacing: 2px;
    }
}