* {
    margin: 0;
    padding: 0;
    color: #fff;
}

.app-wrapper {
    width: 100%;
    background: linear-gradient(135deg, #1C2B35 0%, #111A20 100%);
    min-height: 100vh;
}

.page-wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
    // background-color: #fff;
    min-height: 100vh;
}

.white {
    color: #fff;
}