.about-me {
  padding-bottom: 200px;
  h1 {
    font-size: 32px;
    line-height: 38px;
    padding-top: 200px;
  }

  .section-title {
    font-size: 18px;
    color: #7AB6D9;
    line-height: 21px;
    margin-bottom: 24px;
  }

  section {
    margin-top: 48px;
    .section-line {
      display: flex;
      margin-top: 18px;
      align-items: center;
      font-size: 18px;
      line-height: 30px;
      .line-item {
        width: 50%;
      }
      .company-name {
        font-weight: bold;
      }
      .time {
        color: #7AB6D9;
        font-size: 14px;
        margin-left: 3px;
      }
    }
    .job-intro {
      font-size: 18px;
      line-height: 30px;
      margin-top: 8px;
      text-indent: 2em;
    }
  }
}