.about-me {
  padding-bottom: 100px;
  h1 {
    font-size: 32px;
    line-height: 38px;
    @media screen and (min-width: 769px) {
      padding-top: 200px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 50px;
    }
  }

  .section-title {
    color: #7AB6D9;
    line-height: 21px;
    font-weight: 300;
    @media screen and (min-width: 769px) {
      margin-bottom: 24px;
      font-size: 18px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  section {
    margin-top: 48px;
    .section-line {
      display: flex;
      align-items: center;
      line-height: 30px;
      @media screen and (min-width: 769px) {
        margin-top: 18px;
        font-size: 18px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        margin-top: 14px;
        flex-wrap: wrap;
      }
      .line-item {
        width: 50%;
      }
      .company-name {
        font-weight: bold;
      }
      .time {
        color: #7AB6D9;
        font-size: 14px;
        margin-left: 3px;
      }
    }
    .job-intro {
      line-height: 30px;
      margin-top: 8px;
      text-indent: 2em;
      @media screen and (min-width: 769px) {
        font-size: 18px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}